.account-title {
    font-family: Archivo;
    color: #F01660;
    font-size: 21px;
}

.login-button {
    background-color: #F700F7;
    height: 78px;
    width: 170px;
    margin-top: 34px;
}

.login-button p {
    font-size: 27px;
    color: white;
    margin-left: 55px;
    padding-top: 25px;
    font-family: UrbanistReg;
}

.forget-password {
    margin-top: 24px;
}

.forget-password a {
    font-family: UrbanistReg;
    color: #F01660;
    text-decoration: none;
}