.post-image {
    width: 300px;
    height: 250px;
    background-image: url("../images/worst-dressed-2022.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.second-post-image {
    width: 300px;
    height: 250px;
    background-image: url("../images/worst-years-of-fashion.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.third-post-image {
    width: 300px;
    height: 250px;
    background-image: url("../images/worst-dressed-2011.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.fourth-post-image {
    width: 300px;
    height: 250px;
    background-image: url("../images/worst-dressed-2021.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.fifth-post-image {
    width: 300px;
    height: 250px;
    background-image: url("../images/worst-dressed-2020.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.sixth-post-image {
    width: 300px;
    height: 250px;
    background-image: url("../images/worst-dressed-2013.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

