.copyright p {
    margin-left: 620px;
    font-family: UrbanistReg;
    font-size: 15px;
}

.footer {
    background-color: #F700F7;
    width: 1519px;
    height: 100px;
}

.footer img {
    width: 170px;
    margin-left: 630px;
}